{% extends 'seller/seller_master.html' %}
{% load static%}
{% block content %}

 

<div class="container-fluid" style="margin-left:5%">
  <div class="row">
  {% comment %} <div class="row pt-4 align-items-center gy-4 style="margin-left:20px"> {% endcomment %}
    {% comment %} <div class="col-lg-3 col-md-6 col-sm-12 mx-sm-auto"> {% endcomment %}
    
 {% for product in products %}
      <div class="col-md-3">
        <a href="#">
          <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
            <div class="card-body">
              <img src="{{product.pic.url}}" style="width:100px" class="img-fluid" >
                <h6 class="card-title text-center">{{product.product_name}}</h6>

                    <p class="card-text">{{product.price}}</p>
                        worldofek<br>
                        free delivery
    
  
            </div>
          </div>
        </a>
    </div> 
{% endfor %}


</div>
</div> 


    {% endblock %}