{% extends 'customer/master.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="margin-left:20%">
    <div class="row">
   
      {% for product in products %}
      <div class="col-md-3">
        <a href="{% url 'customer:products' product.id %}">
          <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
            <div class="card-body">
              <img src="{{product.pic.url}}" style="width:100px" class="img-fluid" >
                <h4 style=" color:black" class="card-title text-center">{{product.product_name}}</h4>

                    <p class="card-text" style = "font size:8px ">{{product.price}}</p>
                        <span> seller name: {{product.seller.seller_name}}</span>
  
            </div>
          </div>
        </a>
      </div> 
      {% endfor %} 
  
  </div>
</div> 
  
  
{% endblock %}