{% extends 'customer/master.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
 <body onload="getGrandTotal()"> 
  

<div class="container-fluid">
    <div class="row"style="padding-top:10px;background-color:light">
        <h2 class="text-center" style="color:purple">My Cart!!!</h2>
        
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SI No</th>
        <th scope="col">ProductImage</th>
        <th scope="col">ProductName</th>
        <th scope="col">Price</th>

        <th scope="col">Quantity</th>
        <th scope="col">TotalPrice</th>


      </tr>
      
    </thead>
    <tbody>
      {% for product in cart %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td><img src="{{product.product.pic.url}}" height="100px"></td>
        <td>{{product.product.product_name}}</td>
        <td>{{product.product.price}}</td>
        <td><input type ="number" min =1 value="1" max="{{product.product.stock}}" item-id = {{product.product.id}} item-price = {{product.product.price}}></td>
        <td><span id="span{{product.product.id}}" class="total">{% widthratio product.product.price 1 1 %}  </span> </td>
        <td><a href="{% url 'customer:remove_cart' product.id %}"  class ="btn btn-danger" id="remove">Remove</a></td>
      </tr>
      

      {% endfor %}
      <tr>
       

        <td>Grand Total</td>
        
        <td> <span id ="grand_total"></span></td>
      </tr>
    </tbody>

</table>

<div style="float: right;">
<a class="btn btn-info" >CheckOut</a>
</div>
    </div>

</div>
<script>
   function getGrandTotal(){
    var grand_total = 0;
    items = document.getElementsByClassName('total')
    for(let i = 0; i<items.length;i++){
      grand_total = grand_total + Number(items[i].innerHTML)

    }
    console.log(grand_total)
    document.getElementById('grand_total').innerHTML = grand_total


   }

  $('input').change(function(){
  grand_total = 0
  count = 0
  price = $(this).attr('item-price')
  qty = $(this).val()
  id =  $(this).attr('item-id')

  total_price = parseInt(price) * parseInt(qty)

  
  selected_span_id = 'span' + id
  
  // console.log(total_price)
  total =  document.getElementById(selected_span_id)
  total.innerHTML = total_price
  getGrandTotal()





  })

 
</script>


{% endblock%} 
</body>
</html>